### Mongo database ###
# MONGO_IP=127.0.0.1
# MONGO_PORT=27017
# MONGO_DBNAME=atage

### AI Features ###
# LLM_ENABLE=true
# LLM_API=http://localhost:11434 # Ollama instance
# LLM_MODEL=llava:7b # Vision model available in Ollama 
# LLM_PROMPT=Create a list of tags for this image. Tags should be simple, prefer one word. Your response should be a comma-separated list of tags

### Misc. ###
# PORT=3000
# SSL_KEY=
# SSL_CERT=
# DETECT_NSFW=true
# DEFAULT_API_POST_COUNT=20 # Default number of posts returned for pagination
# EXPRESS_SECRET=ExpressSecretThatShouldNotBeShared