---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
import { APIAddress } from '../scripts/API';
import Horizontal from '../components/Horizontal.astro';

const postsRequest = await fetch(`${APIAddress}/posts?count=5`, { headers: { 'Accept': 'application/json' } });
const posts = await postsRequest.json();
---

<Layout title="Home">
	<main>
		<h1>Welcome to <span class="text-gradient">Atage</span></h1>
		
		<h3>Recent Posts</h3>
		<div class="recentPosts">
			<Horizontal>
				{posts.map(post => (
						<a href={`/posts/${post._id}`} class="post">
						<img src={`/api/posts/${post._id}/thumbnail`} />
					</a>
				))}
			</Horizontal>

			<a href="/posts" class="seeMore">See more <Icon name="mingcute:arrow-right-fill" /></a>
		</div>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: 10;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.recentPosts {
		
	}

	.post img {
		border-radius: var(--rounding);
	}
</style>
