---
import Layout from '../layouts/Layout.astro';
import Vertical from '../components/Vertical.astro';

const pageTitle = 'Login';
---

<Layout title={pageTitle}>
	<h1>{pageTitle}</h1>
	
	<Vertical class='loginPage'>
		<input placeholder="Username" id="inputUsername" autocomplete="username" />
		<input placeholder="Password" type="password" id="inputPassword" autocomplete="current-password" />
		<button id="btnLogin" class="accent">Login</button>
		<p class="errorText" style="opacity: 0">Error goes here :)</p>
		<p class="registerLink">Don't have an account? <a href="/register">Register</a></p>
	</Vertical>
</Layout>

<script>
	import { navigate } from "astro:transitions/client";

	async function attemptLogin() {
		let username = document.getElementById('inputUsername').value;
		let password = document.getElementById('inputPassword').value;

		if(username == '' || password == '')
			return;

		fetch('/api/login', {
			method: 'POST',
			credentials: 'include',
			headers: { 'Content-Type': 'application/json' },
			body: JSON.stringify({ username, password })
		})
		.then(response => response.json())
		.then(json => {
			if(!json.success)
			{
				console.log(`Failed to log in: ${json.error}`);
				showError(json.error);
			}
			else
				navigate('/?refreshSession');
		})
		.catch(err => {
			console.error('Failed to log in', err);
			showError(err.message);
		});
	}

	let errorTimeout = null;
	function showError(message) {
		if(errorTimeout)
			clearTimeout(errorTimeout);

		let errorText = document.getElementsByClassName('errorText')[0];
		errorText.innerHTML = message;
		errorText.style.opacity = '1';

		errorTimeout = setTimeout(() => errorText.style.opacity = '0', 5000);
	}

	function setup() {
		document.getElementById('btnLogin')?.addEventListener('click', attemptLogin);
	}

	setup();
	document.addEventListener('astro:after-swap', setup);
</script>

<style is:global>
	.loginPage {
		max-width: 400px;
		margin: 0 auto;
	}

	.loginPage .registerLink, .errorText {
		text-align: center;
		margin: 0;
		font-size: 0.9em;
	}
	.loginPage .registerLink a:hover { opacity: 0.8; }

	.errorText {
		cursor: default;
		color: rgb(var(--error));
		transition: 0.15s ease-in-out;
	}
</style>
