---
import Layout from "../layouts/Layout.astro";
import Auth from "../components/Auth.astro";

const title = 'Profile';
---

<Layout title={title}>
	<h1>{title}</h1>

	<Auth>
		{session => session &&
			<p>Hey <span class="primary" style="padding: 2px 5px">{session.username}</span></p>
		}
	</Auth>

	<button class="primary light" id="btnLogout">Logout</button>
</Layout>

<script>
	import { navigate } from "astro:transitions/client";

	function logout() {
		fetch(`/api/logout`)
			.then(() => {
				document.body.dataset.username = undefined;
				navigate('/');
			})
			.catch(err => console.error(err));
	}

	function setup() {
		document.getElementById('btnLogout')?.addEventListener('click', logout);
	}

	setup();
	document.addEventListener('astro:after-swap', setup);
</script>