---
import Layout from '../layouts/Layout.astro';
import Vertical from '../components/Vertical.astro';

const pageTitle = 'Register'
---

<Layout title={pageTitle}>
	<Vertical class='registerPage'>
		<h1>{pageTitle}</h1>

		<input placeholder="Username" />
		<input placeholder="Password" type="password" />
		<input placeholder="Confirm password" type="password" />
		<button class="accent">Register</button>
		<p class="loginLink">Already have an account? <a href="/login">Login</a></p>
	</Vertical>
</Layout>

<style is:global>
	h1 {
		text-align: center;
	}

	.registerPage {
		max-width: 400px;
		margin: 0 auto;
	}

	.registerPage .loginLink { text-align: center; font-size: 0.9em; }
	.registerPage .loginLink a:hover { opacity: 0.8; }
</style>
