---
interface Props {
	class?: string
}

const classNames = Astro.props.class;
const { ...attrs } = Astro.props;
---

<div class:list={['vertical', classNames ]} {...attrs} >
	<slot />
</div>

<style>
.vertical
{
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
}
</style>