:root
{
	--text: #fff;
	--background: #121212;
	--background2: #303030;
	--accent: #E6A375;
	--accent-gradient: linear-gradient(45deg, #E6A375, #ef8847);
	--rounding: 5px;
	--font: "Lato", sans-serif;

	--error: #ff3333;

	--content-width: 600px;
}

html, body
{
	color: var(--text);
	background: var(--background);
	font-family: var(--font);
}

input
{
	font-family: var(--font);
	color: var(--text);
	padding: 5px 10px;
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(var(--text), var(--text));
	border-image-slice: 1;

	transition: all 0.25s ease-in-out;
}

input::placeholder { color: var(--text); opacity: 0.6; }
input:active, input:focus
{
	outline: none;
	border-image: var(--accent-gradient);
	border-image-slice: 1;

	transition: all 0.25s ease-in-out;
}

.fileInput input[type="file"]
{
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

.fileInput label
{
	display: block;
	position: relative;
	padding: 10px 5px;
	border-radius: var(--rounding);
	background: none;
	border: 1px solid var(--background2);
	cursor: pointer;
	text-align: center;
}

.fileInput label:hover
{
	background: var(--accent-gradient);
}

a
{
	color: var(--accent);
	text-decoration: none;

	transition: opacity 0.15s ease-in-out;
}

a:hover
{
	opacity: 0.8;
	transition: opacity 0.15s ease-in-out;
}

button
{
	outline: none;
	border: none;
	padding: 5px;
	color: var(--text);
	border-radius: var(--rounding);
	border: 1px solid var(--background2);
	background: none;

	transition: all 0.15s ease-in-out;
}

button:hover, button:focus
{
	cursor: pointer;
	background: var(--accent);

	transition: all 0.15s ease-in-out;
}

.vertical
{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.horizontal
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.subtitle
{
	opacity: 0.6;
	font-size: 0.75em;
	margin: 0;
}

/* HTML: <div class="progressBar"><div></div></div> */
.progressBar {
	width: 50%;
	margin: 0 auto;
	height: 22px;
	border-radius: 20px;
	color: var(--accent);
	border: 2px solid;
	position: relative;
}
  
.progressBar > div {
	content: "";
	position: absolute;
	margin: 2px;
	border-radius: inherit;
	background: currentColor;

	/* Change percentage by modifying second value */
	/* Value is inverted, so '20%' is 80% full and '40%' is 60% full */
	inset: 0 20% 0 0;

	transition: inset 0.2s ease-out;
}

.centerContent
{
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
}