:root
{
	--text: #fff;
	--background: #121212;
	--background2: #303030;
	--accent: #E6A375;
	--accent-gradient: linear-gradient(45deg, #E6A375, #ef8847);
	--rounding: 5px;
	--font: "Lato", sans-serif;

	--error: #ff3333;
}

html, body
{
	color: var(--text);
	background: var(--background);
	font-family: var(--font);
}

input
{
	font-family: var(--font);
	color: var(--text);
	padding: 5px 10px;
	background: none;
	border: none;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(var(--text), var(--text));
	border-image-slice: 1;

	transition: all 0.25s ease-in-out;
}

input::placeholder { color: var(--text); opacity: 0.6; }
input:active, input:focus
{
	outline: none;
	border-image: var(--accent-gradient);
	border-image-slice: 1;

	transition: all 0.25s ease-in-out;
}

.fileInput
{
}

.fileInput input[type="file"]
{
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

.fileInput label
{
	display: block;
	position: relative;
	padding: 10px 5px;
	border-radius: var(--rounding);
	background: none;
	border: 1px solid var(--background2);
	cursor: pointer;
	text-align: center;
}

.fileInput label:hover
{
	background: var(--accent-gradient);
}

a
{
	color: var(--accent);
	text-decoration: none;

	transition: opacity 0.15s ease-in-out;
}

a:hover
{
	opacity: 0.8;
	transition: opacity 0.15s ease-in-out;
}

button
{
	border: none;
	padding: 5px;
	color: var(--text);
	border-radius: var(--rounding);
	border: 1px solid var(--background2);
	background: none;

	transition: all 0.15s ease-in-out;
}

button:hover
{
	cursor: pointer;
	background: var(--accent);

	transition: all 0.15s ease-in-out;
}

.vertical
{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.horizontal
{
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.subtitle
{
	opacity: 0.6;
	font-size: 0.75em;
	margin: 0;
}

/*
From https://css-loaders.com/line/
HTML: <div class="loadingIndicator"></div>
*/
.loadingIndicator
{
	width: 35px;
	height: 35px;
	margin: 0 auto;
	aspect-ratio: 1;
	--c1:linear-gradient(90deg,#0000 calc(100%/3),var(--accent) 0 calc(2*100%/3),#0000 0);
	--c2:linear-gradient( 0deg,#0000 calc(100%/3),var(--accent) 0 calc(2*100%/3),#0000 0);
	background: var(--c1),var(--c2),var(--c1),var(--c2);
	background-size: 300% 4px,4px 300%;
	background-repeat: no-repeat;
	animation: loading-indicator 1s infinite linear;
}
  
@keyframes loading-indicator
{
	0%   {background-position: 50%  0,100% 100%,0    100%,0 0}
	25%  {background-position: 0    0,100% 50% ,0    100%,0 0}
	50%  {background-position: 0    0,100% 0   ,50%  100%,0 0}
	75%  {background-position: 0    0,100% 0   ,100% 100%,0 50%}
    75.01%{background-position: 100% 0,100% 0   ,100% 100%,0 50%}
	100% {background-position: 50%  0,100% 0   ,100% 100%,0 100%}
}

/* HTML: <div class="progressBar"><div></div></div> */
.progressBar {
	width: 50%;
	margin: 0 auto;
	height: 22px;
	border-radius: 20px;
	color: var(--accent);
	border: 2px solid;
	position: relative;
}
  
.progressBar > div {
	content: "";
	position: absolute;
	margin: 2px;
	border-radius: inherit;
	background: currentColor;

	/* Change percentage by modifying second value */
	/* Value is inverted, so '20%' is 80% full and '40%' is 60% full */
	inset: 0 20% 0 0;

	transition: inset 0.2s ease-out;
}
