---
import '../style.css';
import '@fontsource/poppins';
import { ViewTransitions } from 'astro:transitions';
import Vertical from '../components/Vertical.astro';
import Hamburger from '../components/Hamburger.astro';
import { getSession } from '../scripts/Authenticate';

interface Props {
	title: string;
}

const { title } = Astro.props;
const session = getSession();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Atage - {title}</title>
		<ViewTransitions />
	</head>
	<body data-username={session?.username}>
		<Vertical>
			<Hamburger transition:persist />
		</Vertical>

		<div class="layoutContent" transition:animate="fade">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	div.layoutContent {
		width: 100%;
		padding: 10px;
		padding-left: 0;
		height: calc(100dvh - 20px);
		overflow-y: auto;
	}

	div.layoutContent > h1 {
		text-align: center;
	}

	/* Mobile */
	@media screen and (max-width: 650px) {
		body { flex-direction: column; }

		.layoutContent {
			padding: 10px !important;
			width: unset !important;
			height: calc(100dvh - 75px) !important;
		}
	}
</style>
