@layout('layouts/app.edge')

@section('content')
<div class="vertical">
	<h3 style="font-size: 2em">Atage</h3>

	@if(user)
	<p style="opacity: 0.6">Welcome, {{ user.username }}</p>
	<a href="/logout">Logout</a>
	@else
	<a href="/login">Login</a>
	<a href="/register">Register</a>
	@endif

	<br>
	<a href="/posts">Posts</a>
	<a href="/tags">Tags</a>
</div>
@endsection

@section('styles')
<style>
a
{
	color: var(--accent);
}

a:hover { opacity: 0.8; }
</style>
@endsection