<!DOCTYPE html>
<html lang="en" class="theme-dark">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Atage</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		
		<link href="/style.css" rel="stylesheet">

		<!-- Font Awesome - Preload to load asynchronously -->
		<link
			rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

		@!section('styles')
	</head>
	<body>
		<!-- Content -->
		<section id="content">
			@!section('content')
		</section>

	<!--
		<script src="/js/app.js"></script>
		<script src="/js/search.js"></script>
	-->
	</body>
</html>
