<div class="tagsAutocomplete">
	<div class="horizontal">
		<input placeholder="Tags" />

		@if($props.get('addButton') == true)
			<button class="tagsAutocompleteAdd"><i class="fa-solid fa-plus"></i></button>
		@endif
	</div>
	<ul class="tagsAutocompleteResults"></ul> <!-- Autocomplete results -->
	<ul class="tagsAutocompleteSelected"></ul> <!-- Selected tags -->
</div>
